body {
    background-color: #E5E5E5;
}
#logo-alura{
    position: absolute;
    width: 31px;
    height: 48px;
}
#header {
    width: 50px;
    height: 50px;
}
button {
    width: 220px;
    height: 80px;
    background-color: #0A3871;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    border-radius: 24px;
    align-content: center;
    color: white;
    text-align: center;
}
#buttons {
    position: absolute;
    top: 38%;
    left: 39%;
}
span {
 margin: auto;
}