#logo-alura{
    position: absolute;
    width: 31px;
    height: 48px;
}
#header {
    width: 50px;
    height: 50px;
}
button {
    width: 300px;
    height: 105px;
    background-color: #0A3871;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    border-radius: 24px;
}
#buttons {
    position: absolute;
    top: 33%;
    left: 36%;
}